<div class="fluid-container">

  <div class="row justify-content-center" id="landing_title">
    <!-- <div class="mx-auto">
      <img class="img-fluid align-middle" style="padding: auto;" src="app/media/landing_image.jpg">
    </div> -->
    <div class="col col-md-6">
      <h3 id="pre-text" class="text-danger">
        <span id="anime-1" >Wherever you're at in your spiritual journey,</span>
        <span id="anime-2">don't be afraid to</span>
      </h3>
    </div>

    <h1 id="title">
      ask anything.
    </h1>
  </div>


  <div class="row justify-content-center">
    <div class="card-block col-md-6">
        <div class="row input-group">
          <!--<div class="col-md-10"><textarea [(ngModel)]="question" id="ask-box"></textarea></div>
          <div class="col-md-2"><button (click)="submit()" class="btn btn-outline-danger" id="ask-btn">Ask!</button></div>-->
          <textarea [(ngModel)]="question" type="text" class="form-control" id="ask-box" placeholder="really, anything..." aria-label="Search for..."></textarea>
          <span class="input-group-btn">
            <button (click)="submit()" class="btn btn-outline-danger ask-btn" type="button">Ask!</button>
          </span>
        </div>
    </div>
  </div>


  <div class="row" >
    <div *ngFor="let q of questions" class="card-block col-md-6">
      <div class="question-cards">
        <div>{{q.question}}</div>
        <div id="voting_ops">
            <span id="vote_count_style"> {{q.votes}}</span> 🤔
            <button *ngIf="isLoggedIn" (click)="vote(q.question_id)" class="btn btn-outline-danger btn-sm float-right ask-btn">Vote!</button>
            <a *ngIf="!isLoggedIn" href="https://saml.aswwu.com?redirectURI=/askanything/" class="btn btn-outline-danger btn-sm float-right ask-btn">Login to vote!</a>
        </div>
      </div>
    </div>
  </div>
</div>




  <!--<div id="question_table">
    <table class="table">
      <tr *ngIf="questions.length > 0">
        <th>Question</th>
        <th>Votes</th>
        <th>Vote!</th>
      </tr>
      <tr *ngFor="let q of questions">
        <td>{{q.question}}</td>
        <td>{{q.votes}}</td>
        <td>
          <button *ngIf="isLoggedIn" (click)="vote(q.question_id)">Vote!</button>
          <a *ngIf="!isLoggedIn" href="https://saml.aswwu.com?redirectURI=/askanything/">Login to vote!</a></td>
      </tr>
    </table>
  </div>-->

  <!--<ul>-->
    <!--<li *ngFor="let q of questions">-->
      <!--<p>-->
      <!--{{q.question}}-->
      <!--</p>-->
      <!--<div class="votes">-->
        <!--{{q.votes}}-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->
