<div>
  <h1>Ask Anything</h1>
  <textarea [(ngModel)]="question"></textarea>
  <button (click)="submit()">Submit</button>
  <table>
    <tr *ngIf="questions.length > 0">
      <th>Question</th>
      <th>Votes</th>
      <th>Vote!</th>
    </tr>
    <tr *ngFor="let q of questions">
      <td>{{q.question}}</td>
      <td>{{q.votes}}</td>
      <td>
        <button *ngIf="isLoggedIn" (click)="vote(q.question_id)">Vote!</button>
        <a *ngIf="!isLoggedIn" href="https://saml.aswwu.com?redirectURI=/askanything/">Login to vote!</a>
      </td>
    </tr>
  </table>
</div>