.row.input-group {
    background-color: white;
}

#landing_title {
    padding-bottom: 10px;
}

.question-cards {
    background-color: white;
    padding: 15px;
    margin: auto;
    border-radius:3px;
    width: 100%;
}

#vote_count_style {
    font-weight: bold;
}

#voting_ops {
    padding: 10px;
}

#ask-box {
    border-color: #131313;
    border-width: 5px;
    border-radius:0px;
}

.ask-btn {
    border-color:rgb(217, 83, 79);
    border-width: 5px;
    border-radius:0px;
    font-family:helvetica;
    font-weight:bold;
}

.table-title {
    background-color:rgb(217, 83, 79);
    color:white;
    margin:0px;
}