@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
.row.input-group {
    background-color: white;
    margin: 0;
}

#landing_title {
    padding-bottom: 10px;
}
#title {
    font-weight: normal;
    /*animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-direction:alternate;*/
    animation: fade-in 1s 3s forwards;
    opacity: 0;
}

#anime-1 {
    opacity: 0;
    animation: fade-in 1s 1s forwards;
}

#anime-2 {
    opacity: 0;
    animation: fade-in 1s 2s forwards;
}

#pre-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 30px;
}

@media (min-width: 540px) {
    #pre-text {
        font-size: 40px;
    }
}

.question-cards {
    background-color: white;
    padding: 15px;
    margin: auto;
    border-radius:3px;
    width: 100%;
}

#vote_count_style {
    font-weight: bold;
    font-size: 1.3em;
}

#voting_ops {
    padding: 10px;
}

#ask-box {
    border-color: #292b2c;
    border-width: 5px;
    border-radius:0px;
}

.ask-btn {
    border-color:rgb(217, 83, 79);
    border-width: 5px;
    border-radius:0px;
    font-family:helvetica;
    font-weight:bold;
}

.table-title {
    background-color:rgb(217, 83, 79);
    color:white;
    margin:0px;
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
