
/*Poly fix for safari*/
.col {
  flex-basis: initial;
  -webkit-flex-basis: initial;
}

/*Font Stuff*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@font-face {
  font-family: gyre;
  src: url(./media/texgyreheros-bold.otf);
}

/*Main Reset and font configure*/
body, html {
  background-color: rgb(244, 244, 244);
  display: block;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}
h1 {
  font-size: 4.5rem;
}
/*Main Mobile fixer*/
@media (min-width: 540px) {
  h1 {
    font-size: 150px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 25px;
  }
  .side {
    width: 15px;
  }
}

/*Job Opps*/
#searchBar {
  margin-top: 55px;
}

/*Card styles and card button styles */
.card {
  margin-bottom: 10px;
}
.card img {
  object-fit: cover;
}
