<div *ngIf="questions.length">
    <table class="table table-striped">
        <tr>
            <th>Question</th>
            <th>Votes</th>
            <th>Accept/Reject</th>
        </tr>
        <tr *ngFor="let q of questions">
            <td>{{q.question}}</td>
            <td>{{q.votes}}</td>
            <td>
                <button *ngIf="!q.authorized || !q.reviewed" (click)="updateQuestion(q.question_id, 'Y'); updateParent()" class="btn btn-success">Accept</button>
                <button *ngIf="q.authorized || !q.reviewed" (click)="updateQuestion(q.question_id, 'N'); updateParent()" class="btn btn-danger">Reject</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!questions.length">
    <p>No data to review</p>
</div>
